* {
  outline: none !important; }

html, body {
  width: 100%;
  height: 100%; 
  background-image: -webkit-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)), -webkit-linear-gradient(108deg, #A828D6, #FF69D0 90%);
  background-image: -moz-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)), -moz-linear-gradient(108deg, #A828D6, #FF69D0 90%);
  background-image: -ms-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)), -ms-linear-gradient(108deg, #A828D6, #FF69D0 90%);
  display: table;
  font-family: "Raleway", sans-serif;
  }

body {
 width: 100%;
  height: 100%; 
   }

#cont{
  float:left;

}

.caption p a{
  font-size: 12px;
}

#myModal input[type='number']{
  width:50px;
}
.alex{
 /* background-color: #BF4D4D;*/
  display: inline-block;
  float: left;
}
.alexito{
  clear: left;
  margin-top: 2em;
}

#fecha{
  font-size:12px;
  height:35px;
}}